.center {
    /*    background-color: rgba(0, 0, 100, 0.2);*/
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

h2 {
    text-indent: 10px;
}

a {
    color: #1e262c;
    font-size: 14px;
}

button {
    background: none;
    border: none;
}




/*head*/

header {
    background: #1e262c;
    min-width: 1200px;
}

/*    headTop*/
.logo {
    text-align: center;
    padding: 20px 0 10px;
}

.login {
    position: absolute;
    top: 20px;
    left: 0;
    text-align: center;
}

.login span {
    display: block;
    color: #fff;
    font-size: 8px;
}

.search {
    position: absolute;
    top: 14px;
    right: 0;
}

.search input {
    border: none;
    width: 212px;
    height: 30px;
    border-radius: 15px;
    padding: 6px 50px 6px 10px;
    box-sizing: border-box;
/*    min-height:1em;*/
}

.search img {
    position: absolute;
    width: 18px;
    top: 6px;
    right: 16px;
}



/*    nav*/

.hamBtn,
.m_close,
.m_subBg {
    display: none;
}

#nav a {
    display: block;
    color: #fff;
}

#nav > .mainMenu > a {
    font-family: 'Bebas Neue', 'Bebas Neue Regular', 'Noto Sans CJK KR', sans-serif, "Bebas Neue Regular W";
    font-size: 28px;
}

#nav {
    padding: 0 20%;
}

#nav > li {
    float: left;
    text-align: center;
    width: 33.333%;
    box-sizing: border-box;
}



/*sub*/

.subOn {
    position: absolute;
    top: 127px;
    width: 100%;
    height: 2px;
    background: #f36e38;
    display: none;
}

.mainBg {
    position: absolute;
    display: none;
    width: 100%;
    top: 133px;
    height: 60px;
    background-color: #fff;
    z-index: 1000;
}

.mainSub {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 60px;
    left: 0;
    display: none;
    z-index: 1000;
}

.mainSub > li {
    display: inline-block;
    margin: 0 10px;
}

#nav .mainSub > li > a {
    display: block;
    color: #1e262c;
    font-weight: 400;
}

#nav > li:hover > a {
    color: #f36e38;
}

#nav .mainSub > li > a:hover {
    color: #f36e38;
}


/*game sub*/

.subBg {
    position: absolute;
    display: none;
    width: 100%;
    top: 192px;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.mainSub .allGame {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 65px;
    left: 0;
    top: 58px;
    display: none;
    z-index: 1000;
}

.mainSub .allGame > li {
    display: inline-block;
    margin: 0 30px;
}

.mainSub .allGame > li > a {
    display: block;
    color: #fff;
    text-shadow: 0 0 3px #000;
}

.mainSub .allGame > li > a:hover {
    text-shadow: 0 0 8px #000;
}



/*container*/
#container {
    min-width: 1200px;
}

/*    visual*/
#visual {
    position: relative;
    /*    width:100%;*/
    /*    height: 700px;*/
    height: 36.4vw;
    /*    min-height:150px;*/
    overflow: hidden;
    min-width: 1200px;
}

#visual > .banner {
    width: 600%;
    height: 100%;
}

#visual > .banner > li {
    position: relative;
    float: left;
    width: 16.666%;
    height: 100%;
}

#visual .banner1 {
    background-image: url(../images/v_battlefield5.jpg);
    background-size: 150%;
    background-position: 20% 0%;
}

#visual .banner2 {
    background-image: url(../images/v_nfsheat.jpg);
    background-size: 190%;
    background-position: 10% 0%;
}

#visual .banner3 {
    background-image: url(../images/v_swjedi.jpg);
    background-size: 190%;
    background-position: 40% 30%;
}

.vGameInfo img {
    width: 100%;
}

.vGameInfo {
    position: absolute;
    /*    width:1100px;*/
    width: 60vw;
    /*    height:450px;*/
    height: 70%;
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
}

.vGameInfo .vTitle {
    position: absolute;
    width: 50%;
}

.banner2 .vGameInfo .vTitle,
.banner3 .vGameInfo .vTitle {
    width: 30%;
}

.vGameInfo .vBuy {
    position: absolute;
    background-color: #f36e38;
    background-image: url(../images/windows_os.png);
    background-repeat: no-repeat;
    background-position: 200px;
    width: 260px;
    height: 45px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    line-height: 45px;
    text-indent: -50px;
    bottom: 0;
}

.vGameInfo .vAbout {
    position: absolute;
    font-size: 18px;
    width: 100%;
    bottom: 15%;
}

.vGameInfo .vAbout > span {
    display: block;
    color: #fff;
    text-shadow: 1px 0px 5px #000;
    font-weight: 300;
}


.vGameInfo .vAbout > a {
    color: #f36e38;
    margin-left: 10px;
    /*    text-shadow: 1px 0px 5px #000;*/
}

.vGameInfo .attn {
    display: flex;
    /*    width: 95px;*/
    width: 5vw;
    position: absolute;
    right: 0;
    bottom: 0;
}

.vGameInfo .attn img {
    width: 100%;
}

.vGameInfo .attn > .attn_1 {
    width: 60px;
}

.vGameInfo .attn > .attn_2 {
    width: 28px;
    margin-left: 7px;
}

.vGameInfo .attn > .attn_2 > img:first-child {
    margin-bottom: 5px;
}

.v_cBtn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
}

.v_cBtn > li {
    float: left;
    margin: 0 5px;
}

.v_cBtn > li > a {
    display: block;
    width: 6px;
    height: 6px;
    border: 3px solid #f36e38;
    border-radius: 50%;
}

.v_cBtn > li.active > a {
    width: 6px;
    height: 6px;
    background-color: #f36e38;
    border-radius: 50%;
}

.v_aBtn {
    position: absolute;
    /*    width: 1200px;*/
    width: 65vw;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
}

.v_aBtn > li {
    float: left;
}

.v_aBtn > .aBtnL {
    position: absolute;
    left: 0;
    filter: drop-shadow(0 0 2px #333);
}

.v_aBtn > .aBtnR {
    position: absolute;
    right: 0;
    filter: drop-shadow(0 0 2px #333);
}


/*h2 more*/
#container h2 {
    margin: 50px 0 15px;
    text-indent: 12px;
}

.more {
    position: absolute;
}

.more > a {
    color: #f36e38;
}

/*    newgame*/
.newGame {
    min-width: 1200px;
}

.newGame .GameInfo {
    /*    display:none;*/
    overflow: hidden;
}

.newGame li {
    width: 49%;
    height: 280px;
    float: left;
    overflow: hidden;
    position: relative;
    background-color: #000;
}

.newGame .gTitle {
    width: 40%;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    filter: drop-shadow(0 0 2px #333);
}

.newGame li:first-child {
    background-image: url(../images/n_gmae_apexs03.jpg);
    background-position: 8% 30%;
    background-size: 250%;
    margin: 0 2% 2% 0;
}

.newGame li:nth-child(2) {
    background-image: url(../images/n_game_sw.jpg);
    background-position: 57%;
    background-size: 350%;
}

.newGame li:nth-child(3) {
    background-image: url(../images/n_game_fifa20.jpg);
    background-position: 50% 10%;
    background-size: 150%;
    margin: 0 2% 2% 0;
}

.newGame li:nth-child(4) {
    background-image: url(../images/new_game_4.jpg);
    background-position: 46%;
    background-size: 200%;
}


.GameInfo {
    width: 70%;
    height: 50%;
    position: absolute;
    top: 30%;
    left: 15%;
    display: none;
}

.GameInfo .packImg {
    width: 21%;
    float: left;
    display: block;
}

.GameInfo p {
    color: #fff;
    font-weight: 400;
    font-size: 23px;
    text-indent: 10px;
    line-height: 90px;
    text-shadow: 0 0 2px #000;
}

.GameInfo img {
    margin: 0 10px;
    filter: drop-shadow(0 0 2px #000);
}

.GameInfo button {
    border: 2px solid #fff;
    border-radius: 10px;
    width: 100px;
    height: 28px;
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    text-shadow: 0 0 2px #000;
    box-shadow: 0 0 2px #000 inset, 0 0 2px #000;
    margin-left: 10px;
}

.newGameMenu > li > .newBg {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    display: none;
}


/*topgame*/

.topGame {
    /*    background-color: lightpink;*/
    min-width: 1200px;
}

.topGameWrap {
    width: 100%;
    overflow: hidden;
    /*	background: red;*/
}


.topGameInfo {
    width: 300%;
    height: 420px;
}



.topGameInfo li {
    float: left;
    width: 192px;
    height: 380px;
    margin: 4px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 4px #666;
    overflow: hidden;
}


.topGameInfo li a:first-child > img {
    width: 100%;
}

.topGameInfo li .wish {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../images/favorite_bf.png);
    position: absolute;
    top: 10px;
    right: 10px;
    filter: drop-shadow(0 0 2px #000);
}

.topGameInfo li .wish.active {
    background-image: url(../images/favorite_af.png);
}

.topGameInfo li .title {
    font-family: 'Bebas Neue', 'Bebas Neue Regular', 'Noto Sans CJK KR', sans-serif, "Bebas Neue Regular W";
    font-size: 22px;
    text-indent: 10px;
}

.topGameInfo li .about {
    margin-left: 10px;
    color: #666;
}

.topGameInfo li .buyBtn {
    position: absolute;
    margin-left: 10px;
    bottom: 30px;
    display: none;
}

.topGameInfo button {
    background: #f36e38;
    border-radius: 10px;
    margin-right: 10px;
    padding: 3px 10px;
    color: #fff;
    line-height: 18px;
}

.topGameInfo li .price {
    position: absolute;
    margin-left: 10px;
    bottom: 0px;
}

.topGameInfo li .price span:first-child {
    font-size: 18px;
    color: #f36e38;
}

.topGameInfo li span:nth-child(2) {
    color: #ccc;
    text-decoration: line-through;
}


.topAbtn {
    position: absolute;
    top: 7px;
    right: 17px;
}

.topAbtn > li {
    float: left;
    margin-left: 10px;
}


.topCbtn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
}

.topCbtn > li {
    float: left;
    margin: 0 5px;
}

.topCbtn > li:nth-child(4),
.topCbtn > li:nth-child(5),
.topCbtn > li:nth-child(6),
.topCbtn > li:nth-child(7),
.topCbtn > li:nth-child(8),
.topCbtn > li:nth-child(9) {
    display: none;
}

.topCbtn > li > a {
    display: block;
    width: 6px;
    height: 6px;
    border: 3px solid #f36e38;
    border-radius: 50%;
    text-indent: -9999px;
}

.topCbtn > li.active > a {
    width: 6px;
    height: 6px;
    background-color: #f36e38;
    border-radius: 50%;
}



/*oapMember*/

.oapMember {
    background: #f36e38;
    text-align: center;
    min-width: 1200px;
}

.oapMember > h2 {
    padding: 15px 0 10px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
}

.oapMember > p {
    color: #fff;
    line-height: 1.3;
    font-size: 16px;
}

.oapMember > button {
    margin: 15px 0 20px;
    width: 332px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-size: 24px;
    line-height: 20px;
}

.oapMember > button:hover {
    background-color: #fff;
    color: #f36e38;
}


/*news*/

.news {
    padding: 20px 10px;
    box-sizing: border-box;
    /*    background:red;*/
    min-width: 1200px;
}

.updateNews {
    width: 100%;
}

.updateNews div {
    float: left;
}

.update {
    width: 32%;
    margin-right:2%;
}

.update li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 2px 0;
}

.update li > span:first-child {
    color: #f36e38;
    font-size: 14px;
    position: relative;
}

.update li > span:first-child:after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    margin-left: 5px;
    background: #aaa;
    top: 5px;
    right: -5px;
}

.update li > a > span {
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}



.fAbout {
    width: 65%;
    position: relative;
}

.fAbout > ul {
    float: left;
    width: 33%;
}
.fAbout:after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    background: #aaa;
    top: 2px;
    left: -3.5%;
}

.updateNews ul > li {
    line-height: 2;
}




/*footer*/

footer {
    padding: 30px 10px;
    background: #1e262c;
    height: 200px;
    min-width: 1200px;
    box-sizing: border-box;
}

footer .footInfo {
    float: left;
    width: 60%;
}

footer .footInfo > P {
    color: #999;
}

footer .footInfo > P:first-child {
    margin-bottom: 20px;
}

footer .footInfo > P:last-child {
    margin-top: 20px;
}

footer .footInfo a {
    color: #f36e38;
    font-size: 12px;
}

footer button {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 10px;
    float: right;
    text-align: left;
    color: #fff;
    font-size: 18px;
    background-image: url(../images/language_abtnup.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

footer button > img {
    margin: 0 20px;
}

footer button.active {
    background-image: url(../images/language_abtn.png);
}

.languageSub {
    position: absolute;
    width: 300px;
    height: 200px;
    right: 0;
    top: -200px;
    background: #fff;
    bottom: 20px;
    border-radius: 10px;
    display: none;
}

.languageSub li {
    display: block;
    font-size: 16px;
    line-height: 2;
    position: relative;
    text-indent: 60px;
}

.languageSub li:before {
    content: "";
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    top: 10px;
    margin: 0 24px;
}

.languageSub li.active:before {
    content: "";
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    background: #fff;
    border: 2px solid #f36e38;
    border-radius: 50%;
    top: 10px;
    margin: 0 24px;
}

.footFixed {
    display: none;
}














@media screen and (max-width:1400px) {
    .vGameInfo .vAbout > span {
        font-size: 16px;
    }

    .vGameInfo .vAbout > span:nth-child(5),
    .vGameInfo .vAbout > span:nth-child(6) {
        display: none;
    }
}

@media screen and (max-width:1200px) {
    .center {
        width: 100%;
    }

    .vGameInfo {
        width: 60vw;
    }

    header,
    headBottom,
    #visual,
    #container,
    .newGame,
    .topGame,
    .contents section,
    .oapMember,
    .news,
    footer {
        min-width: 100%;
    }

    #nav .mainSub > li {
        margin: 0 5px;
    }

    #nav .mainSub > li > a {
        font-size: 13px;
    }

    .mainSub .allGame > li > a {
        font-size: 13px;
    }

    .newGame li {
        height: 23vw;
    }

    .GameInfo p {
        line-height: 3;
        font-size: 16px;
    }

    .GameInfo {
        width: 100%;
    }

    .topGameInfo {
        width: 600%;
        height: 40vw;
    }

    .topGameInfo li {
        width: 2.68%;
        height: 35vw;
        margin: 0.05%
    }

    .topCbtn {
        bottom: 0;
    }

    .news {
        overflow: hidden;
    }

    .fAbout {
        width: 62%;
    }

    .fAbout > ul {
        width: 33.333%;
    }

    .update:after {
        right: -10px;
    }


    .vGameInfo .vAbout > span {
        display: inline;
        font-size: 16px;
    }

    .vGameInfo .vAbout > span:nth-child(4),
    .vGameInfo .vAbout > span:nth-child(4) {
        display: none;
    }

    .vGameInfo .vAbout {
        margin: 0;
        bottom: 20%;
        font-size: 14px;
    }
}

@media screen and (max-width:1024px) {
    header,
    .headTop {
        width: 100%;
    }

    header {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        height: 70px;
        min-width: 100%;
        z-index: 10000;
    }
    
    .headBottom {
        top: 120px;
    }

    .search {
        top: 70px;
        right: -80vw;
        z-index: 9999;
    }

    .search input {
        width: 80vw;
        height: 50px;
        box-sizing: border-box;
        border-radius: 0;
        border-bottom: 1px solid #ccc;
    }

    .search img {
        top: 12px;
        width: 24px;
        height: 24px;
    }

    .logo {
        padding: 15px 0;
    }

    .logo img {
        width: 110px;
    }

    .login {
        left: 15px;
        top: 33%;
    }

    .login span {
        display: none;
    }

    .hamBtn {
        position: absolute;
        display: block;
        top: 30%;
        right: 15px;
    }

    .m_close {
        position: absolute;
        right: 80vw;
        padding: 0 10px;
        z-index: 100;
    }

    .headBottom {
        display: block;
        position: fixed;
        right: -80vw;
        min-width: 80vw;
        background-color: #fff;
        z-index: 1000;
    }

    .m_subBg {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 100;
    }

    .headBottom .center{
        overflow: hidden;
    }
    nav{
        overflow: hidden;
        height:calc(100vh - 70px);
        width:80vw;
    }
    #nav {
        position:relative;
        padding: 0;
        height:100%;
        overflow-y: scroll;
        width:calc(100% + 20px);
    }

    #nav a {
        color: #1e262c;
    }

    #nav > li {
        float: none;
        text-align: center;
        width: 100%;
    }

    #nav > li > a.focus {
        color: #f36e38;
    }

    #nav > .mainMenu > a {
        width: 100%;
        display: block;
        line-height: 54px;
    }

    .mainMenu {
        border-bottom: 1px solid #ccc;
    }

    .mainSub,
    .gameSub {
        position: static;
        display: none;
        line-height: 40px;
    }

    #nav .mainSub > li {
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .allGame {
        display: block;
        width: 80vw;
    }

    .mainSub > li:first-child {
        border-top: 1px solid #ccc;
    }
    #container {
        margin-top: 70px;
    }

    .vGameInfo .vAbout > span,
    .v_aBtn,
    .vGameInfo .vAbout > a {
        display: none;
    }

    .topGameInfo button {
        display: none;
    }

    .vGameInfo .vAbout > span:first-child {
        display: inline-block;
    }

    .vGameInfo .vAbout {
        margin: 0;
        bottom: 22%;
        font-size: 14px;
    }

    footer button {
        width: 30%;
    }

    .languageSub {
        width: 30%;
    }
}



@media screen and (max-width:767px) {

    /*    #nav,*/
    .topCbtn > li:nth-child(4),
    .topCbtn > li:nth-child(5),
    .topCbtn > li:nth-child(6),
    .topCbtn > li:nth-child(7),
    .topCbtn > li:nth-child(8),
    .topCbtn > li:nth-child(9) {
        display: block;
    }


    footer button,
    .updateNews .about {
        display: none;
    }

    .center,
    .topGameWrap,
    footer .footInfo,
    .news,
    .fAbout,
    .newGameMenu > li {
        width: 100%;
    }

    #visual,
    .topGame,
    .newGame,
    .oapMember,
    .news,
    .fAbout,
    footer {
        min-width: 100%;
    }







    #container {
        margin-top: 70px;
        min-width: 100%;
    }

    .vGameInfo {
        width: 90%;
        top: 5vw;
    }

    .vGameInfo .vAbout {
        width: 67%;
        margin: 0;
        bottom: 30%;
        font-size: 14px;
    }

    .vGameInfo .vAbout > span {
        display: inline;
        font-size: 16px;
    }

    .vGameInfo .vAbout > span,
    .v_aBtn,
    .vGameInfo > .attn,
    .vGameInfo .vAbout > a {
        display: none;
    }

    .vGameInfo .vAbout > span:first-child {
        display: inline-block;
    }

    .vGameInfo .vBuy {
        margin-top: 0;
        width: 30%;
        height: 20%;
        font-size: 12px;
        line-height: 20%;
        text-align: center;
        background-image: none;
        text-indent: inherit;
    }


    /*    new*/
    .newGame li {
        height: 38vw;
    }

    .newGame li:nth-child(2),
    .newGame li:nth-child(4) {
        margin: 0 2% 2% 0;
    }

    .GameInfo {
        width: 100%;
        height: 100%;
        text-align: center;
        left: 0;
    }

    .GameInfo > .packImg {
        display: none;
    }

    .GameInfo p {
        font-size: 20px;
        line-height: 2;
    }




    /*    top*/
    .topGameInfo {
        width: 900%;
        height: 90vw;
    }

    .topGameInfo li {
        width: 5.3555%;
        height: 80vw;
        margin: 0 0.1%;
    }

    .topGameInfo li .about {
        display: none;
    }

    .topCbtn {
        position: static;
        display: flex;
        justify-content: center;

        transform: translateX(0);
        /*        background:red;*/
    }


    /*    oap*/
    .oapMember > .oap {
        font-size: 18px;
    }

    .oapMember > p {
        font-size: 14px;
    }

    .oapMember > button {
        margin: 15px 0 20px;
        width: 200px;
        height: 35px;
        border: 2px solid #fff;
        border-radius: 10px;
        color: #fff;
        font-size: 18px;
        line-height: 20px;
    }


    /*    news*/

    .news {
        margin: 0;
        padding: 10px;
        overflow: hidden;
        box-sizing: border-box;
    }

    .update {
        width: 100%;
        margin-right:0;
    }

    .update:after {
        display: none;
    }

    .update li {
        /*        background:red;*/
        display: block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .fAbout > ul {
        width:25%;
        margin-right:8%;
    }
    
    .fAbout:after{
        display:none;
    }


    /*    footer*/
    footer {
        padding: 10px;
        height: 34vw;
        min-height: 200px;
        margin: 0 0 60px;
    }

    footer .footInfo > P:first-child {
        margin-bottom: 0;
    }

    .footFixed {
        position: fixed;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 60px;
        background: #1e262c;
        text-align: center;
        box-sizing: border-box;
        padding: 10px 0;
        border-top: 1px solid #ccc;
    }

    .f_menu {
        display: inline-block;
        width: 100%;
    }

    .f_menu > li {
        width: 25%;
        float: left;
    }

    .f_menu > li > span {
        display: block;
        color: #ffffff;
        font-size: 12px;
    }

}

@media screen and (max-width:320px) {
    #visual {
        height: 144px;
    }

    .vGameInfo .vAbout > span {
        font-size: 12px;
    }

    .vGameInfo .vAbout {
        width: 67%;
        left: 33%;
        margin: 0;
        bottom: 10%;
        font-size: 12px;
    }
    
    .fAbout{
        display:none;
    }

    footer .footInfo > P:nth-child(2) {
        display: none;
    }
}
